torch==1.0.1
torchvision==0.2.2
keras==2.2.4
tensorflow-gpu==1.13.1
onnx==1.6.0
numpy
scipy
tqdm
opencv-python 
matplotlib
protobuf
pandas
tabulate
pydot
pillow
scikit-image
sklearn
netron
cython==0.29.14
