caffe
torch==0.4.1
numpy==1.16.0
scipy>=1.4.1
keras==2.2.4
tensorboard==1.13.1
tensorflow-gpu==1.13.1
onnx==1.6.0
tqdm
opencv-python 
matplotlib
protobuf
pandas
tabulate
pydot
pillow
scikit-image
sklearn
netron
